<nav style="background: var(--gray-900); padding: 1rem; margin-bottom: 2rem">
  <div style="display: flex; gap: 1rem; align-items: center">
    <h2 routerLink="/dashboard" style="color: white; margin: 0">Company Portal</h2>
    <div style="display: flex; gap: 1rem; margin-left: auto">
      @if (isLoggedIn()) {
        @if (isAdmin()) {
					<!-- Admin menu -->
          <!-- Vacations dropdown -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Vacaions
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem routerLink="/vacations">Vacations</a>
                  <a ngbDropdownItem routerLink="/vacations/awaiting-response"
                    >Awaiting Vacations</a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Employees dropdown -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Employees
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem routerLink="/employees">Employees</a>
                  <a ngbDropdownItem routerLink="/employees/new">Add Employee</a>
                  <a ngbDropdownItem routerLink="/employees/edit">Edit Employee</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Projects dropdown -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Projects
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem routerLink="/projects">Projects</a>
                  <a ngbDropdownItem routerLink="/projects/new">Add Project</a>                
                  <a ngbDropdownItem routerLink="/projects/add-employee-to-project">Add employee to project</a>                    
                </div>
              </div>
            </div>
          </div>
        } @else {
					<!-- Employee menu -->
          <!-- Vacations dropdown -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Vacaions
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem routerLink="/vacations/my-vacations">My Vacations</a>
                  <a ngbDropdownItem routerLink="/vacations/request-a-vacation">Request a vacation</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Employees dropdown -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Employees
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem routerLink="/employees">Employees</a>
                  <a ngbDropdownItem routerLink="/employees/new">Add Employee</a>
                  <a ngbDropdownItem routerLink="/employees/edit">Edit Employee</a>
                </div>
              </div>
            </div>
          </div>
        }

        <div class="flex items-center gap-3" style="display: flex; gap: 1rem">
          <span style="color: white"
            >Welcome, {{ accountService.currentUser()?.firstName }}
            {{ accountService.currentUser()?.lastName }}</span
          >
          <button
            (click)="logout()"
            style="
              color: white;
              text-decoration: none;
              padding: 0.5rem 1rem;
              border-radius: 4px;
              background: #e74c3c;
            "
          >
            Logout
          </button>
        </div>
      } @else {
        <a
          routerLink="/test-wo-jwt"
          style="
            color: white;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            background: var(--bright-blue);
          "
          >Test-wo-jwt</a
        >

        <form
          [formGroup]="loginForm"
          (ngSubmit)="login()"
          class="flex items-center gap-3"
          style="display: flex; gap: 1rem"
        >
          <input
            type="email"
            class="input"
            placeholder="Email"
            formControlName="email"
            style="border-radius: 4px"
          />
          <input
            type="password"
            class="input"
            placeholder="Password"
            formControlName="password"
            style="border-radius: 4px"
          />
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="loginForm.invalid"
            style="
              color: white;
              text-decoration: none;
              border-radius: 4px;
              background: var(--french-violet);
              border-width: 0;
            "
          >
            Login
          </button>
        </form>
      }
    </div>
  </div>
</nav>
